 .body-main {
   background-image: url(../img/2019/backgroundMobile.png);
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;
 }

 .body-footer {
   padding-top: 7px;
 }

 .menu-pages {
   padding-bottom: 7px;
   padding-top: 7px;
 }

 .main-h1 {
   padding-top: 10px;
   font-weight: 900;
   color: rgba(64, 59, 119, 0.99);
   font-size: xx-large;
 }

 .button22:hover {
   background-color: #ee1682;
 }

 .mainprog {
   padding: 20px 0 10px;
 }

 .uk-icon {
   color: white;
 }

 .uk-link:hover,
 a:hover {
   color: #420f79;
   text-decoration: underline;
 }

 .uk-button-default:focus,
 .uk-button-default:hover {
   background-color: #dc5b8c;
   border-color: #b2b2b2;
 }

 .uk-container {
   padding-top: 5px;
   /* height: 100vh; */
 }

 .uk-card-default {
   background-image: url(.img/header.jpg);
 }

 .uk-accordion-title {
   display: block;
   font-size: 1.25rem;
   line-height: 1.4;
   overflow: hidden;
   font-weight: bold;
 }

 .myh1-main {
   font-weight: bold;
   color: white;
 }

 .uk-accordion-title::after {
   content: "";
   width: 1.4em;
   height: 1.4em;
   float: right;
   color: #fbf2f2;
   /* background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213…22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E); */
   background-repeat: no-repeat;
   background-position: 50% 50%;
 }

 .button22 {
   background-color: rgb(238, 77, 155);
   opacity: 0.8;
   z-index: 103;
   color: #fbf2f2;
   width: 300px;
   height: 60px;
   border-radius: 35px;
   border: none;
   text-transform: lowercase;
   font-size: 24px;
   margin-bottom: 15px;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
   border-radius: 70px;
 }

 .button22:first-letter {
   text-transform: uppercase !important;
 }

 #footer {
   position: relative;
   /* Фиксированное положение */
   left: 0;
   bottom: 0;
   /* Левый нижний угол */
   padding: 10px 0 10px 0;
   /* Поля вокруг текста */
   /* background: #39b54a; /* Цвет фона */
   /* color: #fff; */
   /* Цвет текста */
   width: 100%;
   /* Ширина слоя */
 }

 .my-icon {
   color: #d112b8;
 }

 .uk-child {
   box-sizing: border-box;
   width: 50%;
 }

 .my-photo {
   width: 50%;
 }
 .my-scroll{
  text-align: right;
  position: relative;
    z-index: 20;
    top: -16px;
    color: #d112b8;
    margin-bottom: 20px;
    
}
.up-button{
  color: #d112b8
}
 

 .my-scroll a{
  background: rgba(228, 205, 217, 0.5);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.33);
}
.my-scroll a:hover {
  background-color: #cf57ab98;
}
.my-scroll a::selection {
  background-color: #cf57ab98;
}

.uk-button-primary {
  background-color: #cf57ab98;
}
.uk-button-primary .uk-button-primary::selection{
  background-color: #cf57ab98;
}

.my-title-bracelet{
  position: relative;
  z-index: 20;
    top: -30px;
  color: rgba(64,59,119,0.99)
}


.uk-lightbox-caption {
margin-bottom: 444px;
}

 @media only screen and (min-width: 800px) {
   footer {
     padding-top: 50px;
   }
   .body-main {
     background: url(../img/2019/background_desktop.png);
     min-height: 100vh;
     background-size: cover;
     background-repeat: no-repeat;
   }
   .mainprog {
     padding-top: 40px;
   }
   .mainprog2 {
     padding-top: 50px;
   }
   .main-h1 {
     font-size: 50px;
     padding-top: 10px;
     font-weight: 900;
     color: rgba(64, 59, 119, 0.99);
   }
   .uk-child-width-1-2\@s>* {
     width: 50%;
   }
   .my-photo {
     width: 50%;
   }
   .my-title-bracelet{
       top: 10px;
       font-size: 20px;
    
  }
 }