.body{
	/* background-color: red; */
	background: url(../img/2019/backgroundMobile.png);
  background-size: cover;
  min-height: 100vh;
  background-color: #d4d1e3;
}

.main-h1{
  padding-top: 30px;
  font-weight: 900;
  color: rgba(64,59,119,0.99);

}
/* color acttive button */
.button22:hover { 
  background-color: #ee1682;
}



  .mainprog{
   padding: 20px 0 10px;

 }
 .uk-icon {

  color: white;
}
.uk-link:hover, a:hover {
  color: #420f79;
  text-decoration: underline;
}




.uk-button-default:focus, .uk-button-default:hover {
  background-color: #dc5b8c;
  border-color: #b2b2b2;

}

.uk-container {
  padding-top: 5px;
  /* height: 100vh; */
}

.uk-card-default{

	background-image: url(.img/header.jpg);

}
.uk-accordion-title {
  display: block;
  font-size: 1.25rem;
  line-height: 1.4;

  overflow: hidden;
  font-weight: bold;
}
.myh1-main{
	font-weight: bold;
	color: white;

}
.uk-accordion-title::after {
  content: "";
  width: 1.4em;
  height: 1.4em;
  float: right;
  color: #fbf2f2;
  /* background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213…22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E); */
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.button22 {
  background-color: rgb(238, 77, 155);
  opacity: 0.8;
  /* box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.29); */
  z-index: 103;
  color: #fbf2f2;
  width: 300px;
  height: 60px;
  border-radius: 35px;
  border: none;
  text-transform: lowercase;
  font-size: 24px;
  margin-bottom:  15px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
  border-radius: 70px;

}
.button22:first-letter {
 text-transform: uppercase !important; 

}

#footer {
  position: relative; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 10px 0 10px 0;  /* Поля вокруг текста */
  /* background: #39b54a; /* Цвет фона */
  /* color: #fff; */ /* Цвет текста */
  width: 100%; /* Ширина слоя */
}
/* 
@media only screen and (min-width: 800px) {


  .body{
    background: url(../img/contestapp-assets/bee_background.png);
    background-size: contain;
    /* background-attachment:fixed;  */


    @media only screen and (min-width: 800px) {

     footer{
      padding-top: 100px;
    }
    .body{
      background: url(../img/2019/background_desktop.png);
      background-size: cover;
      min-height: 100vh;

    }
    .mainprog{
      padding-top: 50px;
    }
  .mainprog2{
      padding-top: 50px;
    }



  }