.h1-page2 {
  margin-top: 1px;
  font-weight: 800;
  /* margin-left: -287px; */
  color: #420f79;
}

.uk-icon-page2 {
  color: darkblue;
  padding-top: 7px;
}

.uk-link-page2:hover,
a:hover {
  color: pink;
  text-decoration: underline;
}

.page2 {
  margin: auto;
}

.page2-main-block {
  max-width: 310px;
  padding: 5px;
  margin: auto;
  display: block;
}

.uk-card-small-one {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 5px;
  background-size: cover;
}

.uk-card-small-sbs {
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 30%, rgba(64, 59, 119, 0.99) 88%, rgba(64, 59, 119, 1) 100%), url(../img/2019-pages/stepbystep.png);
  background-size: cover;
}

.uk-card-small-start {
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 30%, rgba(64, 59, 119, 0.99) 88%, rgba(64, 59, 119, 1) 100%), url(../img/2019-pages/greatstart.png);
  background-size: cover;
}

.uk-card-small-ledired {
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 30%, rgba(64, 59, 119, 0.99) 88%, rgba(64, 59, 119, 1) 100%), url(../img/2019-pages/lady-red.png);
  background-size: cover;
}

.uk-card-small-elclub {
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 30%, rgba(64, 59, 119, 0.99) 88%, rgba(64, 59, 119, 1) 100%), url(../img/2019-pages/elclub.png);
  background-size: cover;
}

.uk-card-small-star {
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 30%, rgba(64, 59, 119, 0.99) 88%, rgba(64, 59, 119, 1) 100%), url(../img/2019-pages/star-club.png);
  background-size: cover;
}

.uk-card-small-semyear {
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 30%, rgba(64, 59, 119, 0.99) 88%, rgba(64, 59, 119, 1) 100%), url(../img/2019-pages/seminar-awards.png);
  background-size: cover;
}

/* ////// SD*/

.uk-card-small-sd-put {
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 30%, rgba(64, 59, 119, 0.99) 88%, rgba(64, 59, 119, 1) 100%), url(../img/2019-pages/way.png);
  background-size: cover;
}

.uk-card-small-sd-klub {
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 30%, rgba(64, 59, 119, 0.99) 88%, rgba(64, 59, 119, 1) 100%), url(../img/contestapp-assets/sd/2.jpg);
  background-size: cover;
}

.uk-card-small-sd-g20 {
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 30%, rgba(64, 59, 119, 0.99) 88%, rgba(64, 59, 119, 1) 100%), url(../img/2019-pages/g20.png);
  background-size: cover;
}

.uk-card-small-dallas {
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 30%, rgba(64, 59, 119, 0.99) 88%, rgba(64, 59, 119, 1) 100%), url(../img/2019-pages/dallas.png);
  background-size: cover;
}

.uk-card-small-sdstar {
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 30%, rgba(64, 59, 119, 0.99) 88%, rgba(64, 59, 119, 1) 100%), url(../img/2019-pages/star-club.png);
  background-size: cover;
}

.uk-card-small-sdsemyear {
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 30%, rgba(64, 59, 119, 0.99) 88%, rgba(64, 59, 119, 1) 100%), url(../img/2019-pages/seminar-awards.png);
  background-size: cover;
}

.page2-h5 {
  color: white;
  position: absolute;
  padding: 100px 8px 0 5px;
  font-size: 17px;
  text-align: left;
  padding-left: 33px;
}

.uk-overlay-primary {
  background: rgb(228, 205, 217, 0.5);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.33);
  padding: 10px;
}

.prog-name {
  position: absolute;
  opacity: 0.8;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 0 35px 35px 0;
  background-color: rgb(238, 77, 155);
  opacity: 0.8;
  color: #fbf2f2;
  border-radius: 35px;
  border: none;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 0 35px 35px 0;
}

.zzz {
  position: relative;
  background-color: rgb(238, 77, 155);
  opacity: 0.7;
  border-radius: 0 35px 35px 0;
  height: 43px;
  left: -30px;
  line-height: 40px;
  font-size: 1rem;
}

.uk-position-top-center {
  margin-top: 55px;
}

.foto {
  position: relative;
}

.foto-grad {
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 0%, rgba(64, 59, 119, 0.99) 99%, rgba(64, 59, 119, 1) 100%);
}

.main-title {
  padding: 10px 10px;
}

.uk-card-body {
  padding: 1px;
}

@media only screen and (min-width: 768px) {
  .uk-card-small-one {
    width: 300px;
    height: 300px;
  }
  .page2-main-block {
    max-width: 910px;
    display: block;
  }
  .page2-h5 {
    padding: 220px 8px 0 5px;
    font-size: 25px;
    text-align: left;
  }
  .opisanie {
    max-width: 1000px;
    padding: 0 20%;
  }
  .fotobracelet {
    width: 400px;
    height: 400px;
  }
  .uk-position-bottom {
    bottom: 30%;
    left: 0;
    right: 0;
  }
  .my-overlay {
    min-width: 250px;
    /* padding: 10px 30px; */
    text-align: left;
    border-radius: 0px 50px 50px 0px;
    width: fit-content;
    /* padding: 10px 10px; */
  }